* {
    background-color:rgb(194, 155, 55);
}

header {
    text-align:center;
    font-size:25px;
    font-family:'Courier New', Courier, monospace;
}

#tiger1 {
    background-image: url(./media/StewTig1.png);
}